<%= subscribe_to "/users/new" %>
 <nav class="navbar-default navbar-static-side" role="navigation" >
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu" style="display:block;background-color:rgba(22, 129, 65, 0.7)">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold" style="color:white;">Online users</strong>  
                            </span>
                        </span>
                   
                </div>
            </li>
	<% @users = User.online_users_list %>
   <% @onlineusers = @users - [current_user] %>
		<% @onlineusers.each do  |user| %>
		<% if user_signed_in? %>
      		<li style="list-style-type: none;" class=".online_users">
      			<%= link_to image_tag(user.avatar) + "&nbsp&nbsp".html_safe + "#{user.name.titleize}", "#",class: " btn-xs start-conversation",
      		"data-sid" => current_user.id, "data-rip" => user.id, :id => "user_image" %>
      	</li>
		<% end %>
		<% end %>
  </ul>
  
	<div>
</nav>

<% if user_signed_in? %>
<script>
PrivatePub.subscribe("/chatroom", function(data, channel) {
// alert('#{data.receiver_id}');
});
</script>
<% end %>
