
<div class="row">
    <div id="messages_list">
          <%= render partial: 'message' %>
        </div>
  			</div>
  			<div class="row" id = "message-row">
  				<%= render :partial => 'groupmessages/form' %>
  			</div>
