
/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
@import "bootstrap-sprockets";
@import "bootstrap";

html,body {
height: 100%;
}

body{
font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
background-color:rgba(22, 129, 65, 0.7);
font-size: 13px;
color: #676a6c;
overflow-x: hidden;
padding-top:0;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
background-color: rgba(119, 190, 128, 0.91);
color: white;
}

#wrapper {
width: 100%;
overflow-x: hidden;
}

.pace-done #page-wrapper, .pace-done .footer {

transition: all 0.5s;
}

#side-menu {
  background-color: rgba(52,235,125,0.59);
}
#page-wrapper {
margin: 0 0 0 220px;
padding:0 15px;
position: relative !important;
}
.gray-bg {
background-color: #f3f3f4;
}


.row {
margin-left: -15px;
margin-right: -15px;
}

.white-bg {
background-color: #ffffff;
}
.nav {
list-style:none;
}
.navbar-fixed-top, .navbar-static-top {
background: #f3f3f4;
}

.navbar-static-side {
z-index: 2001;
position: absolute;
width: 220px;
}


.navbar-static-top {
z-index: 1000;
border-width: 0 0 1px;
border-radius: 0;
}
.navbar {
position: relative;
min-height: 50px;
border: 0;
}
.navbar-header {
float: left;
}
.nav > li {
position: relative;
display: block;
}
.nav li a {
color: white;
font-weight: bold;
}

div.dropdown.profile-element {
  padding:  20px;
}

#settings li a{
  color:black;
}
.btn-primary {
background-color: #1ab394;
border-color: #1ab394;
color: white;
}

.btn {
border-radius: 3px;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
line-height: 1.42857143;
}

.minimalize-styl-2 {
padding: 4px 12px;
margin: 14px 5px 5px 20px;
font-size: 14px;
float: left;
}

a{
text-decoration: none;
}
.navbar-form-custom {
float: left;
height: 50px;
padding: 0;
width: 200px;
display: inline-table;
}
#top-search{
background-color:white;
border:1px solid #0BCEF7;
border-radius:2px;
}
form{
margin-top: 0em;
}
.navbar-right {
float: right !important;
margin-right: -15px;
}
.white-bg{
background-color:white;
}
.nav {
margin-bottom: 0;
padding-left: 0;
list-style: none;
}
ul, ol {
margin-top: 0;
}
.navbar-right {
float: right !important;
margin-right: -15px;
}
.navbar-top-links li:last-child {
margin-right: 40px;
}

.navbar-top-links li {
display: inline-block;
}
.nav > li {
position: relative;
}
.nav.navbar-right > li > a {
color: #999c9e;
}
.nav.navbar-top-links a {
font-size: 14px;
}
.navbar-top-links li a {
padding: 20px 10px;
min-height: 50px;
}
.nav > li > a {
font-weight: 600;
position: relative;
display: block;
}
a{
cursor:pointer;
text-decoration: none;
background-color: transparent;
}

.nav:before, .nav:after {
content: " ";
display: table;
}
.nav:after {
clear: both;
}
.nav:before, .nav:after {
content: " ";
display: table;
}
.wrapper-content {
padding: 20px 10px 40px;

}
.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {

color: white;
}
#message-row{
margin-left: 2%;
}

.footer {
background: none repeat scroll 0 0 white;
border-top: 1px solid #e7eaec;
bottom: 0;
left: 0;
padding: 10px 20px;
position: absolute;
right: 0;
}

.pull-right {
float: right !important;
}
.col-md-2 {
padding-left:0px;
padding-right:0px;
}
.col-md-10 {
padding-left:0px;
padding-right:0px;
}



.form-header
{
width:40%;
padding: 20px 0;
text-align: center;
border-radius: 10px 10px 0 0;
background-color: rgba(124, 177, 111, 0.77);
}

.form-header .fa-user {
font-size: 50px;
border-radius: 50%;
border: 3px solid #E7E7E7;
padding: 15px 20px;
background: #f6f8f9;
background: -moz-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #f6f8f9), color-stop(50%, #e5ebee), color-stop(51%, #d7dee3), color-stop(100%, #f5f7f9));
background: -webkit-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
background: -o-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
background: -ms-linear-gradient(-45deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
background: linear-gradient(135deg, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 );
}

.fa {
display: inline-block;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.form-main {
background-color: rgba(64, 150, 42, 0.43);
padding: 40px 50px;
width:40%;
}

.form-group {
margin-bottom: 15px;
}

input[type="text"],input[type="email"],  input[type="password"] {
background-color: rgba(119, 158, 69, 0.04);
padding-left: 20px;
border-radius: 0;
border: none;
margin-bottom: 10px;
color: black;
height: 43px;
}

.form-control {
display: block;
width: 100%;
background-image: none;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857;
box-shadow: inset 0 1px 1px;
}

.signin {
padding-top: 10px;
padding-bottom: 10px;
background-color:#D68D8D;
color: #fff;
-webkit-transition: background-color 300ms linear;
-moz-transition: background-color 300ms linear;
-o-transition: background-color 300ms linear;
-ms-transition: background-color 300ms linear;
transition: background-color 300ms linear;
}

.btn {
border-radius: 0;
}

.btn-block {
display: block;
width: 100%;
background-color: rgba(124, 177, 111, 0.77);
}

.btn {
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.form-footer {

padding: 20px 50px;
width:40%;
background-color:rgba(64, 150, 42, 0.43);
}

.form-footer .fa-unlock-alt {
font-size: 10pt;
color: #6f6f6f;
border-radius: 50%;
background-color: rgba(64, 150, 42, 0.43);
padding: 5px 8px;
margin-right: 7px;
}

.form-footer .fa-check {
font-size: 10pt;
color: #6f6f6f;
border-radius: 50%;
background-color: rgba(64, 150, 42, 0.43) ;
padding: 5px;
margin-right: 7px;  
}

.form-footer a {
  color:white;
}

.form-footer a:hover {
  color:black;
}

#message-box {
float:left;
padding-top: 2%;

}

#messages_list {
word-wrap: break-word;
}

.navbar-inverse {
background-color: #778899;
border-color: #778899;
}

.navbar-inverse .navbar-nav > li > a {
color:white;
}

.nav > li > a {
position: relative;
display: block;
padding: 10px 15px;
}

div .well {

width: 136%;
min-height: 20px;
padding: 19px;
margin-bottom: 20px;

}

.nav-sidebar { 
width: 100%;
height:auto;
}
.nav-sidebar a {
color: #333;
-webkit-transition: all 0.08s linear;
-moz-transition: all 0.08s linear;
-o-transition: all 0.08s linear;
transition: all 0.08s linear;
-webkit-border-radius: 4px 0 0 4px; 
-moz-border-radius: 4px 0 0 4px; 
border-radius: 4px 0 0 4px; 
}
.nav-sidebar .active a { 
cursor: default;
background-color: blue; 
color: #fff; 
text-shadow: 1px 1px 1px #666; 
}
.nav-sidebar .active a:hover {
background-color: bule;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
white-space: nowrap;
overflow: hidden;
-o-text-overflow: ellipsis;
text-overflow: ellipsis; 
}


.panel-heading {
padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-right-radius: 0px;
border-top-left-radius: 0px;
color: #31708f;
}

.panel-body {
padding: 15px;

}

.media-list {
padding-left: 0;
list-style: none;
overflow-wrap: break-word;
word-break: break-word;
}

.media:first-child {
margin-top: 0;
}

.media-body {
overflow: hidden;
zoom: 1;
}

.text-muted {
color: #777;
float:right;
}

hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid #eee;
box-sizing: content-box;
}


#groupmessages_list {
overflow-x:hidden; 
}

#message-box {
background-color:#eee;
}

.panel {
margin-bottom: 20px;
background-color: white;
}

.input-group {
position: relative;
display: table;
border-collapse: separate;
}

.alert-danger {
background-color: #f2dede;
border-color: #ebccd1;
color: #a94442;
width: 70%;
}

.media > .pull-left {
margin-right: 10px;
}

.pull-left {
float: left !important;
}

a {
color: #428bca;
text-decoration: none;
background: transparent;
}


.media-object {
display: block;
}
.img-circle {
border-radius: 50%;
height: 50px;
width: 50px;
}

#message_box {
z-index: 1;
}

label {
padding-right: 6px;
}

input[type="file"] {
display: inline;
}

#message-box{
background-color: #eee;
}


.nav > li > a > img {

width: 30px;
height: 30px;
border-radius: 50px;
}

a .dropdown-toggle {
background-color:#5C6588;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
background-color: #5C6588;

}

.caret-up {
width: 0; 
height: 0; 
border-left: 4px solid rgba(0, 0, 0, 0);
border-right: 4px solid rgba(0, 0, 0, 0);
border-bottom: 4px solid;
display: inline-block;
margin-left: 2px;
vertical-align: middle;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
text-decoration: none;

color: #262626;
background-color: #80BDF1;
}

#groupmessage_text {
background-color: white;
border: 1px solid #0BCEF7;
border-radius: 2px;
width: 170%;
color:#5B5D5E;
}
