<%= subscribe_to "/groupmessages/new"  %>

<%= simple_form_for @groupmessage, method: :post, remote: true, input_html: {multipart: true} do |f| %>
<div class="col-md-12">
<div class="input-group" >
	<div class="left-inner-addon">
		<i class="icon-user"></i>
			<%= f.input :text, :placeholder => "Type a message", :label => false, :autofocus => true, :class => "form-control ", :id => "message-box" %>
		</div>
		</div>
	</div>
<% end %>
